<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthomefinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.deleteSufferrer"></activity>
        <activity android:name=".admin.addSufferrer" />
        <activity android:name=".admin.deleteFamiliarTask" />
        <activity android:name=".admin.addFamiliarTask" />
        <activity android:name=".admin.allSpeakerTasks" />
        <activity android:name=".admin.allFSTasks" />
        <activity android:name=".admin.allSuffererTasks" />
        <activity android:name=".admin.allFamiliarTasks" />
        <activity android:name=".familiarActivity" />
        <activity android:name=".admin.adminActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>