<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthomefinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".deleteFamiliarTask"></activity>
        <activity android:name=".addFamiliarTask" />
        <activity android:name=".Speakers_tasks" />
        <activity android:name=".FS_tasks" />
        <activity android:name=".Sufferer_tasks" />
        <activity android:name=".Familiar_tasks" />
        <activity android:name=".familiarActivity" />
        <activity android:name=".adminActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>